* {
    padding: 0;
    margin: 0;
}

@font-face {
    src: url("./fonts/OpenSans-VariableFont_wdth\,wght.ttf");
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-color: lightgreen;
    background-image: url("../img/over-the-counter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Open Sans";
}

header {
    background-color: #611f1f;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0%;
    box-shadow: inset 0px 0px 11px 12px rgba(0, 0, 0, 0.252);
}

h1 {
    text-align: center;
}

main {
    width: 40%;
    margin: 0px 118px 0px 589px;
    background-color: rgb(240, 238, 238);
    border-radius: 10px;
    box-shadow: -2px 5px 8px rgb(149, 149, 149);
}

picture {
    margin: 0;
    padding: 0;
}

.imagem-planta {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    translate: 0px 8px;
}

.vazio {
    visibility: hidden;
    width: 10%;
}

.forms-principal {
    margin: 0% 0% 2% 0%;
    border-style: none;
    padding-bottom: 15px;
}

.titulo-forms-internos {
    font-weight: bold;
    color: white;
    background-color: #611f1f;
    text-align: center;
    padding: 2px 0px;
    margin-bottom: 10px;
    border-radius: 10px 10px 0px 0px;
}

.forms-internos {
    padding: 20px 10px;
    border-radius: 10px;
    border: 3px solid lightgray;
    margin: 0px 15px;
}

.requirement {
    color: red;
}

.camposForm {
    border-style: solid;
    border-color: lightgray;
}


.camposForm:hover {
    border-style: double;
    border-width: 3px;
    border-color: gray;   
}

.camposForm:focus {
    outline: 0px;
    border-style: dotted;
    border-color: cornflowerblue;
}

#res {
    border-width: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BOTÕES */

.container-botoes {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}


#botaoEnvio {
    background-color: green;
    box-shadow: -2px 2px 0px 2px rgb(0, 74, 4),inset 0px 0px 8px 0px rgba(0, 0, 0, 0.252);
}

#botaoApagar {
    background-color: brown;
    box-shadow: -2px 2px 0px 2px rgb(74, 0, 0),inset 0px 0px 8px 0px rgba(0, 0, 0, 0.252);
}

.botoes {
    font-family: "Open Sans";
    font-weight: bold;
    border-style: none;
    color: white;
    padding: 5px;
    border-radius: 7px;
    width: 15%;
    margin: 0% 2%;
}

#botaoEnvio:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: rgb(59, 221, 59);
}

#botaoApagar:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: rgb(199, 85, 85);
}
#botaoEnvio:active {
    box-shadow: none;
    translate: -2px 2px;
}

#botaoApagar:active {
    box-shadow: none;
    translate: -2px 2px;
}

#btnConfirma {
    background-color: cornflowerblue;
    font-family: "Open Sans";
    font-weight: bold;
    border-style: none;
    color: white;
    padding: 5px;
    border-radius: 7px;
    width: 15%;
    margin: 0% 2%;
}

.botao-visibilidade {
    width: 17px;
    border-style: none;
    background-image: url('../img/icons/eye-solid.svg');
    background-repeat: no-repeat;
}

.final {
    background-color: #2be62b;
    color: white;
    font-weight: bold;
    width: fit-content;
    margin-top: 10px;
    text-align: center;
    padding: 3px;
    border-radius: 4px;
}

/* RESPONSIVIDADE-------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1000px) {
    header {
        gap: 3%;
    }
    
    main {
        width: 50%;
        margin: 0px 118px 0px 389px;
    }

    .imagem-planta {
        translate: 0px 35px;
    }
}

@media screen and (min-width: 801px) and (max-width: 999px) {    
    .imagem-planta {
        translate: 0px 105px;
    }
}
@media screen and (max-width: 800px) {    
    main {
        width: 60%;
        margin: 0px 118px 0px 189px;
    }
    .container-botoes {
        justify-content: center;
        align-items: center;
    }
    
    .botoes {
        width: 150px;
    }

    .imagem-planta {
        translate: 0px 105px;
    }

}

@media screen and (max-width: 570px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0% 2%;
    }
    
    header > * {
        margin: 2% 0%;
    }
    
    main {
        width: 80%;
        margin: 0px 118px 0px 59px;
    }

    .imagem-planta {
        translate: 0px 128px;
    }

    .container-botoes {
        justify-content: center;
        align-items: center;
    }
    
    .botoes {
        width: 150px;
    }
}

@media screen and (max-width: 515px) {
    .container-botoes {
        justify-content: center;
        align-items: center;
    }
    
    .botoes {
        width: 150px;
    }
}
